.landing-container {
    position: relative;
    text-align: center;
    margin: 0 auto;
}
.landing-title {
    font-family: 'Mukta',
            sans-serif;
    /* Replace 'YourChosenFont' with the actual font name */
    font-size: 36px;
    /* Adjust the font size as needed */
    font-weight: bold;
    color: #333;
    /* Choose a suitable text color */
    margin-top: 20px;
    /* Adjust the margin as needed */
}
.landing-image {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
}

.landing-text {
    z-index: 2;
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.landing-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.landing-description {
    font-size: 18px;
    margin-bottom: 20px;
}

.landing-button {
    font-size: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.landing-button:hover {
    background-color: #0056b3;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.my-card {
    background-color: #ffffff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    max-width: 500px;
    margin: 20px auto;
    font-family: 'Mukta', sans-serif;
    color: #333;
    text-align: center;
    padding: 20px;
    /* Add some padding for better spacing */
}

.my-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.my-card p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
}

.my-card a {
    display: inline-block;
    background-color: burlywood;
    color: #fff;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
}

.my-card a:hover {
    background-color: #0056b3;
}