body {
    margin: 0;
    padding: 0;
    font-family: 'Mukta', sans-serif;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4745d;
    padding: 0 15px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    font-family: 'Mukta', sans-serif;
}

/* Menu styles */
.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.nav-menu.expanded {
    display: flex;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    padding: 10px 0;
    display: block;
}
.nav-menu a:hover {
    background-color: #ff9966;
    /* Change background color on hover */
    border-radius: 5px;
    /* Add some border radius for a button-like effect */
}
.nav-user {
    margin-top: 10px;
}
.nav-logo {
    border-radius: 50%;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.nav-user {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.logged-in .logout-button {
    background-color: #e74c3c;
    /* Style the logout button when logged in */
    color: white;
    padding: 5px 15px;
    margin-left: 10px;
    cursor: pointer;
    border-radius: 20%;
}

.user-info {
    display: flex;
    align-items: center;
    margin-right: 20px;
    /* Add some spacing between user info and logout button */
}

.profile-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
/* Responsive styles */
@media (min-width: 768px) {
    .nav-menu {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .nav-toggle {
        display: none;
    }

    .nav-menu ul {
    list-style: none;
        padding: 0;
        display: flex;
    }

    .nav-menu a {
        color: white;
            text-decoration: none;
            padding: 10px 20px;
            /* Adjust padding for better spacing */
            display: block;
            transition: background-color 0.3s;
            /* Add a smooth transition effect */
    }

    .nav-user {
        margin-left: 20px;
    }
}

.auth-links ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.auth-links a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    /* Adjust padding for better spacing */
    display: block;
    border: 1px solid white;
    /* Add a border around the links */
    border-radius: 5px;
    /* Add some border radius for a button-like effect */
    transition: background-color 0.3s;
    /* Add a smooth transition effect */
}

.auth-links a:hover {
    background-color: #ff9966;
    /* Change background color on hover */
}